@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('fonts/stylesheet.css');

body {
	font-family: 'Euclid Square', sans-serif !important;
	font-smooth: auto;

	overflow-x: hidden;
	scroll-behavior: smooth;

	scrollbar-width: auto;

	background-color: #121212;
}

.shadow-bottom {
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.38);
}

.shadow-top {
	box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.38);
}

.spinner {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.spinner:after {
	content: ' ';
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: spinner 1s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
